html{background-color:#808080; background: url(../img/bk5.jpg) no-repeat center fixed;}
body{margin:0; color:#00CDCD;font-family:Georgia,Times,Times New Roman}

#header{clear:both; height:80px; padding-left:200px; padding-top: 20px; padding-right:200px; margin-top:-20px; background: gray;}
#name{height:50; font-size:24px; margin-left: 50px; }
#blog{float: left; height:25px; margin-top:-45px; margin-left: 180px;font-size: 48px;}
#menu{float:right; margin-top:-20px; margin-right: 100px;}
#menu li {margin:5px 10px 5px 10px; float: left; list-style:none;}
#aboutme {margin-top:400px; padding-top:80px; padding-bottom:20px;padding-left:20px; padding-right:20px;}
#timeline {clear:both; padding-left:260px; padding-right:260px; }


.timeline__meta{float:left;padding-top:20px;margin:0;text-align:right; width:120px;}
.timeline__meta time{font-style:italic;font-size:16px;  padding:0 6px 3px;text-transform:uppercase;}
.timeline__meta time small{font-size:inherit;margin-left:6px;  padding-right: 6px;}
.timeline__body {imgfloat:left; padding-left:150px; padding-top:10px; padding-bottom:10px; padding-right:10px;position:relative;top:-2px;width:580px; margin-top:18px; background-color:rgba(BA,BA,BA,0.1);}
.timeline__body img{margin-top:18px;}




#footer{ height:80px; padding-left:200px;  padding-right:200px;  padding-top: 10px; margin-bottom:-20px;text-align:center; clear:both; background:gray;}
#footer p{font-size:14px}


a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
a,a:link,a:visited {
	border-bottom: 1px solid rgba(255,255,255,0);
	color: #31BDDF;
	font-style: italic;
	text-decoration: none;
}
a img,a:link img,a:visited img{border:0;display:block}
a:hover {
	border: 0;
	color: darken(#cbedff,10%);
}

.live{color:#FFA722}
h1 {font-size:24px}
h2{font-size:18px}
b,strong{font-weight:bold}
blockquote{margin:1em 40px}
dfn{font-style:italic}
hr{background-color:rgba(255,255,255,0.4);border:0;border-top:1px solid rgba(0,0,0,0.2);height:1px;margin:36px 0}
small{font-size:80%}
blockquote{border-left:5px solid rgba(255,255,255,0.4);background-color:rgba(255,255,255,0.3);display:table;margin:18px 0;padding:12px}
blockquote:before,blockquote:after{content:"";display:table}
blockquote:after{clear:both}
blockquote p{font-style:italic;float:right;margin:0}
blockquote .quote{color:#f9e6ae;display:table-cell;font:40px/20px Georgia;padding:12px 12px 0 0;vertical-align:top}


img {
	box-shadow: 0 0 12px rgba(0,0,0,0.5);
	width: 100%;
}
