<!DOCTYPE html>
　　<html>
　　<head>
　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
　　　　<title>{{ page.title }}</title>
		<link rel="stylesheet" href="{{ site.url }}/css/css.css">
　　</head>
　　<body>

　　　　{{ content }}
	
　　</body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
	
        $(document).ready(function() {
            $('#personal,#article,#picture,#design,#all').click(function(e) {
                var filterSelect = "#" + this.id;
				post = $('.post__timeline');
				post.fadeOut(800);
				//alert(filterSelect);
                $('#menu').children().removeClass('all');
				alert(filterSelect);
                $(filterSelect).addClass('all');
				post.fadeIn(800);

                e.preventDefault();
            });
        });
		
    </script>
　　</html>
